body {
  background-color: #C9C9C9;
  margin: 0px;
}
.cover {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 518px;
  background-image: url(../img/cover.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.btn {
  position: absolute;
  display: flex;
  left: 280px;
  top: 30px;
}
.btn-bottom {
  position: absolute;
  display: flex;
  left: 145px;
  top: 480px;
}
.cover__start-sign {
  position: absolute;
  font-family: 'Amiri', serif;
  font-weight: bold;
  color: #fff;
  font-size: 52px;
  left: 65px;
  top: 181px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 60px;

}
